name: Docker Image CI

env:
  IMAGE_NAME: tablo2plex

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4

    - name: Log in to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set image tag
      id: vars
      run: |
        echo "TAG=$(date +%s)" >> $GITHUB_ENV
        echo "BRANCH_TAG=$(echo ${GITHUB_REF_NAME} | sed 's/\//-/g')" >> $GITHUB_ENV

    - name: Build Docker image
      run: |
        TAGS="--tag ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:${TAG} --tag ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:${BRANCH_TAG}"
        if [ "${{ github.ref_name }}" = "main" ]; then
          TAGS="$TAGS --tag ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:latest"
        fi
        docker build . --file Dockerfile $TAGS

    - name: Push Docker image
      run: |
        docker push ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:${TAG}
        docker push ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:${BRANCH_TAG}
        if [ "${{ github.ref_name }}" = "main" ]; then
          docker push ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:latest
        fi
